{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "react-app",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks","prettier"],
  "rules": {
    "consistent-return": "error",
    "no-param-reassign": "error",
    "no-nested-ternary": 0,
    "no-console": 1,
    "object-curly-newline": "off",
    "no-unused-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral"],
      },
    ],
    "template-curly-spacing" : "off",
    // "no-shadow": 0,
    "comma-dangle": 1,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "curly": ["error", "multi-line"],
    "import/prefer-default-export": "off",
    "react/jsx-fragments": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/label-has-associated-control": [ 0, {
      "labelComponents": ["CustomLabel"],
      "labelAttributes": ["inputLabel"],
      "controlComponents": ["CustomInput"],
      "assert": "both",
      "depth": 3,
    }],
    "import/no-unresolved": [
      0,
      {
        "commonjs": true
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": ["req", "res", "err"]
      }
    ],
    "valid-jsdoc": [
      0,
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}